@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: #2F302F;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #EEFCFF;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

main {
	justify-content: center;
	text-align: center;
}

header {
	margin: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #555;
}
/*
#intro {
	background-repeat: no-repeat;
	background-position: no-repeat;
	background-position: center;
	background-size: 100%
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding-top: 300px;
	padding-bottom: 300px;
	background-attachment: fixed;
	margin-bottom: 100px;
	line-height: 2em;
	min-height: 70vh;
}
*/
#two_column {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	width: 75em;
	margin: auto;
	margin-bottom: 2em;
}

.favorites {
	float: left;
	width: 33%;
	padding: 1em;
}

.favorites img{
	width: 100%;
	display: block;
}

.favorites p {
	margin: 1em 0 0;
}

.example {
	position: relative;
	display: block;
}

.example div {
	color: rgba (255,255,255,0);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(128,0,128,0);
	transition-duration: 1s;
}

.example:hover div {
	background: rgba(145,210,224,0.75);
	color: rgba(255,255,255,.9);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	font-family: 'Roboto', sans-serif;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

.dropdownNBA {
	float: left;
	overflow: hidden;
}

.dropdownNBA .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdownNBA:hover .dropbtn {
	background-color: blue;
}

.dropdown-content-NBA {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content-NBA a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content-NBA a:hover {
	background-color: #ddd;
}

.dropdownNBA:hover .dropdown-content-NBA {
	display: block;
}

h2 {
	color: #132840;
	font-family: 'Roboto', sans-serif;
}



#slogan {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	text-align: center;
}


.header a {
	float:left;
	color: blue;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
	border-radius: 4px;
}

.header a:hover {
	background-color: white;
	color: black;
}

.container {
	width: 960px;
	margin: 0 auto;
}


/*
.article {
	width: 300px;
	padding: 10px;
	margin: 0 10px;
	float: left;
}

#favorites {
	background-color: : #FF530D;
}

#gameoftheday {
	background-color: #E82C0C;
}

 #trending {
	background: #E80C7A;
}

*/

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer {
	background: #FF957E;
	text-align: center;
	padding: 1em 0;
	clear: both;
}
