@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body{
	color: #404040;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #2F302F;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-align: center;
}

h2 {
	color: #132840;
	font-family: 'Roboto', sans-serif;
}


#container {
	width: 960px;
	margin: 0 auto;
}

.article {
	width: 280px;
	padding: 10px;
	margin: 0 10px;
	float: left;
}

#favorites {
	background-color: : #FF530D;
}

#gameoftheday {
	background-color: #E82C0C;
}

 #trending {
	background: #E80C7A;
}


footer {
	background: #FF957E;
	text-align: center;
	padding: 1em 0;
	clear: both;
}

