@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body{
	color: #404040;
	font-family: 'Roboto', sans-serif;
	background-color: #BBBFBB;
}

h1{
	color: #2F302F;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-align: center;
}

h2{
	color: #132840;
	font-family: 'Roboto', sans-serif;
}

header{
	background: #FFED74;
}

nav {
	font-size: 1.5em;
	float: right;
}
nav a {
	text-decoration: none;
	color: #000000
	margin: 1.5em;
	display: inline-block;
}


#navigation {
	background: #E8C66A;
}

#three_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#favorites {
	background: #FFC675;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 25%;
}

#gameoftheday {
	background: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	float: none;
	width: 45%;
}

#trending {
	background: #EB9485;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 25%;
}


.clearfix:after {
	visibility:	hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


footer {
	background: #FF957E;
	text-align: center;
	padding: 1em 0;
	clear: both;
}

div {
	background: #FFE2B8;
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}
 
img {
	display: block;
	margin: 0 auto;
	width: 480px;
}

#hero {
	display: block;
	width: 100%;
	margin: 0;
	/* background: #000000; */
}

#slogan {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#features {
	font-weight: bold;
}