body{
	color:#FF6D08;
}

h1{
	color: #2F302F;
}

.basketball-card {
	/* Add shadows to create "Card" look*/
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px; /* 5px rounded corners */
	background-color: #464746;
}
/* On mouse-over, add a deeper shadow */
.basketball-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add padding for card container */
.basketball-container {
	padding: 2px 4px;
}

img {
	border-radius: 5px 5px 0 0;
}

#slogan{
	font-style: italic;
}
