@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto');

body{
	color:#FF6D08;
	font-family: 'Roboto', sans-serif;
	background-color: #BBBFBB;
}

h1{
	color: #2F302F;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	text-align: center;
}

.header{
	background: #FFED74;
}

.nav{
	background: #E8C66A;
}

.aside{
	background: #FFC675;
}

.article{
	background: #E89C6C;
}

.footer{
	background: #FF957E;
}

.basketball-card {
	background: #c0dec5;
	margin: 4em;
	padding: 2em 3em 0 3em;
}

div{
	background: #FFE2B8;
}
 
img {
	border-radius: 5px 5px 0 0;
}

#slogan{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#features{
	font-weight: bold;
}